.hm-dashboard {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  background: #FFFFFF;
  border: 1px solid #DDEDF4;
  border-radius: 9px;

  &__tiles-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 26px;
    margin: 0 30px 30px;
  }

  &__search {
    margin: 27px 0 20px 30px;
  }
}

@media screen and (max-width: 1200px) {
  .hm-dashboard {
    justify-content: center;

    &__tiles-wrapper {
      justify-content: center;
      justify-items: center;
    }
  }
}