.hm-header {
  width: 70%;
  margin: 0 auto 40px;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.436364px;
  color: #2D2D2D;

  &__title {
    padding-top: 40px;
  }
}