.dashboard-tile {
  width: 350px;
  height: 235px;
  background: #FFFFFF;
  border: 1px solid #DDEDF4;
  border-radius: 9px;
  display: flex;
  flex-direction: column;

  &__header {
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    border-radius: 9px 9px 0 0;
    margin-bottom: 9px;
    background: #F6F9FA;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.272728px;
    color: #2D2D2D;
    margin-bottom: 4px;
  }

  &__id {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.272728px;
    color: #2D2D2D;
    opacity: 0.5;
  }

  &__content {
    margin: 0 20px 21px;
    display: flex;
    flex-direction: column;
  }

  &__address {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.272728px;
    color: #2D2D2D;
  }

  &__rooms {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    span {
      width: 77px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 3px;
      background: rgba(60, 178, 228, 0.1);
      border-radius: 6px;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.272728px;
      color: #3CB2E4;
    }
  }

  &__additional-info {
    display: flex;

    * {
      display: flex;
      flex-direction: column;
    }
  }

  &__date, &__total, &__stage {
    span:first-child {
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
      letter-spacing: 0.272728px;
      color: #9F9F9F;
      margin-bottom: 8px;
    }
  }

  &__date {
    font-size: 14px;
    letter-spacing: 0.272728px;
    color: #2D2D2D;
    margin-right: 34px;

    span:last-child {
      font-weight: 400;
      line-height: 20px;
    }
  }

  &__total {
    margin-right: 13px;

    span:last-child {
      font-weight: 700;
      line-height: 20px;
    }
  }

  &__stage {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.272728px;

    span:first-child {
      margin-bottom: 5px;
    }

    span:last-child {
      width: 101px;
      height: 24px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--in-progress {
      color: #2D2D2D;

      span:last-child {
        background: #F6F9FA;
      }
    }

    &--negotiation {
      color: #E4783C;

      span:last-child {
        background: #FAEEE8;
      }
    }

    &--cancelled {
      color: #3CB2E4;

      span:last-child {
        background: #EBF7FC;
        font-weight: 700;
      }
    }

    &--done {
      color: #30D869;

      span:last-child {
        background: #EBFCEC;
      }
    }
  }
}